<!DOCTYPE html>
<html>

        <% include ../partials/head %>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="http://www.ncuindia.edu/">The Northcap University</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="pages/admin">Home</a></li>
                    <li><a href="http://lmsncu.ncuindia.edu/login/index.php">LMS</a></li>
                    <li><a href="https://erp.ncuindia.edu/">ERP</a></li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/adminregister">Register</a></li>
                    <li class="active"><a href="pages/admin">Login</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>
    <div class="container body-content">
        <br />
        <h2>
            <%= title %>
        </h2>
        <br />
        <form method="POST">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="control-label col-md-2">User Id</label>
                    <div class="col-md-3">
                        <input type="text" name="userid" class="form-control"  required/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Password</label>
                    <div class="col-md-3">
                        <input type="password" name="password" class="form-control" required/>

                        <br />
                        <input type="submit" value="LOGIN" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>

        <br />
        <hr />
        <footer>
            2018 &copy; The Northcap University
        </footer>
    </div>
</body>

</html>