<div class="container">
		<div class="login-page">

			    <div class="dreamcrub">
			   	 <ul class="breadcrumbs">
                    <li class="home">
                       <a href="index.html" title="Go to Home Page">Home</a>&nbsp;
                       <span>&gt;</span>
                    </li>
                    <li class="women">
                       Login
                    </li>
                </ul>
                <ul class="previous">
                	<li><a href="index.html">Back to Previous Page</a></li>
                </ul>

                <div class="clearfix"></div>
			   </div>
				 <div class = "row">
				 <div class = "col-sm-6">
				 <div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
			  	<h3>REGISTERED USERS</h3>
				<p>If you have an account with us, please log in.</p>
				<form ng-submit="login()">
				  <div> <!-- class="right-inner-addon " -->
					<span><label for="email">Email Address*</label></span>
					<input type="text" id = "email" class="form-control" ng-model="myLogin.email" required /><!--class="form-control glyphicon glyphicon-user"-->
				  </div>
				  <div > <!-- class="right-inner-addon " -->
					<span>Password<label>*</label></span>
					<input type="password" class="form-control" ng-model="myLogin.pass" required /> <!--class="form-control glyphicon glyphicon-lock"-->
				  </div>
				  <a class="forgot" href="#">Forgot Your Password?</a>
					<div class="checkbox">
						<label><input type="checkbox" value="remember-me"> Remember me</label>
					</div>
				  <input type="submit" value="Login" ng-click = "actBook()"/> <!--class="glyphicon glyphicon-send"-->
			    </form>
			   </div>
			 </div>
			   <div class="col-sm-6 col-md-6 account_grid">
			   <div class=" login-left wow fadeInLeft" data-wow-delay="0.4s">
			  	 <h3>NEW USERS</h3>
				 <p>By creating an account with our portal, you will be able to book the venue faster and in a transparent manner.</p>
				 <a class="acount-btn" href="#!/register">Create an Account</a>
			   </div>


			   <div class="clearfix"> </div>
			 </div>
		 </div>
		   </div>
		 </div>
