 <body>
    
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="http://www.ncuindia.edu/">The Northcap University</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/adminpanel">Home</a>
                        </li>
                        <li>
                            <a href="http://lmsncu.ncuindia.edu/login/index.php">LMS</a>
                        </li>
                        <li>
                            <a href="https://erp.ncuindia.edu/">ERP</a>
                        </li>
                        <li><a href="adminpanel">Book Details</a></li>
                        <li><a href="/newuser">New Users</a></li>
    
                    </ul>
                    <ul class="nav navbar-nav navbar-right logout">
                        <li><a href="#">Welcome
                                <%= username%></a></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
        </nav>